<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotaX">
        <activity android:name=".Common.LoginSignUp.Sign_up_success"></activity>
        <activity android:name=".Common.LoginSignUp.ForgotPasswordSuccessActivity" />
        <activity android:name=".Common.LoginSignUp.SetNewPasswordActivity" />
        <activity android:name=".Common.LoginSignUp.MakeSelections" />
        <activity android:name=".Common.LoginSignUp.ForgetPasswordActivity" />
        <activity android:name=".Common.LoginSignUp.VertifyOTP" />
        <activity android:name=".Common.LoginSignUp.SignUp3rdActivity" />
        <activity android:name=".Common.LoginSignUp.SignUp2ndActivity" />
        <activity android:name=".Common.LoginSignUp.SignUpActivity" />
        <activity android:name=".Common.LoginSignUp.RetailerStartUpScreen" />
        <activity android:name=".Common.LoginSignUp.LoginActivity" />
        <activity android:name=".Common.OnBroading" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>